.footerWrap {
    padding: 4% 0% 0% 0%;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.logoWrap {
    width: 25%;
}

.logo {
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding-top: 6%;
}

.link {
    text-decoration: none;
    color: #000;
}


.navItem {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    text-decoration: none;
}

.navItem li {
    color: #000;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}
.navItem li:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.content {
    width: 25%;
}

.content h1 {
    color: #000;
    font-weight: 420;
    font-size: 48px;
    margin: 2% 0;
}

.content p {
    color: #000;
    margin: 0;
    line-height: 180%;
    width: 70%;
}
.contactLink{
    text-decoration: none;
}
.contactLink p:hover{
    color: var(--primary-color);
}
.copyRight{
    background-color: var(--secondary-color);
}
.copyRight ul{
    margin: 0;
    padding: 1% 2%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.copyRightLink{
    font-size: 14px;
    font-weight: 300;
}

.linkPhone{
    display: none;
}

@media screen and (max-width: 1000px) {
    .main h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 750px) {
    .main {
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logoWrap {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .navItem {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .linkPhone{
        display: block;
    }

    .copyRight ul{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main p {
        width: 90%;
        text-align: center;
    }

    .copyRightLink{
        display: none;
    }
}