@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');



html,
body {
  margin: 0;
  background: var(--secondary-color);
  color: #fff;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

* {
  font-family: 'Poppins', sans-serif;

}

:root {
  --primary-color: #CDAF4C;
  --secondary-color: #222831;
}