.sectionWrap {
  background: #fff;
  padding: 4% 4%;
}

.sectionWrap p {
  color: #000;
}

.title {
  color: #000;
  font-weight: 420;
  font-size: 48px;
}


.cardsContainer {
  height: 150px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cards{
  display: flex;
  width: calc(150px * 18);
  animation: scroll 50s linear infinite;
}


.cards:hover{
  animation-play-state: paused;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}

.card {
  height: 150px;
  width: 150px;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.image {
  width: 90%;
  height: 90%;
  object-fit: contain;
  transition: transform 1s;
}

.image:hover{
  transform: translateZ(25px);
}


.content {
  background: var(--primary-color);
  color: #000;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 32px;
  }
}
