.QuizMainWrap {
    min-height: 100vh;
}

.header {
    height: 8vh;
    background: #fff;
    padding: 1% 3%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logoWrap {
    width: 33%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.QNo {
    display: flex;
    align-items: center;
    width: 33%;
}

.QNo h3 {
    color: var(--primary-color);
    font-weight: 450;
    font-size: 42px;
    margin: 0;
}

.QNo h6 {
    color: #0000004e;
    font-weight: 450;
    font-size: 32px;
    margin: 0;
}

.bgImg {
    width: 100%;
    height: 88vh;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.questionWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassBg {
    height: 80%;
    width: 60%;
    border-radius: 10px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.264);
    backdrop-filter: blur(10px);
}

.glassBg h4 {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-weight: 300;
}

.cardWrap {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
}

/* Card Selected */
.cardSelected {
    height: 180px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--primary-color);
    cursor: pointer;
}

.cardSelected .title {
    background: var(--primary-color);
}

.cardImg {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.title {
    color: #000;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 30px;
}

.input input[type=range] {
    -webkit-appearance: none;
}

.input input[type=range]::-webkit-slider-runnable-track {
    width: 50px;
    height: 8px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.input input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-top: -4px;
}

.input input[type=range]:focus {
    outline: none;
}

.input input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.btnWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    width: 400px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    padding: 0 4%;
}

.btnSelected {
    width: 400px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    background: var(--primary-color);
}

.textarea {
    height: 250px;
    width: 50%;
    border: 1px solid white;
    background: none;
    font-size: 18px;
    color: white;
    padding: 1%;
}

.textarea:focus {
    outline: none;
}

.thanksWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.thanksImage {
    width: 100%;
    height: 100%;
}

.thanksWrap h4 {
    width: 70%;
}

.thanksBtn {
    width: 150px;
    height: 80px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
}



@media screen and (max-width: 1000px) {
    .card {
        height: 140px;
        width: 140px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        cursor: pointer;
    }

    /* Card Selected */
    .cardSelected {
        height: 140px;
        width: 140px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 20px var(--primary-color);
        cursor: pointer;
    }

    .title {
        font-size: 14px;
    }
}

@media screen and (max-width: 750px) {
    .glassBg {
        height: 90%;
        width: 90%;
        padding-top: 10%;
    }

    .glassBg h4 {
        font-size: 20px;
    }

    .btn {
        width: 70vw;
    }

    .btnSelected {
        width: 70vw;
    }

    .textarea {
        width: 90%;
        height: 40vh;
    }
}