.SectionWrap {
    padding: 2% 6%;
}

.title {
    font-weight: 420;
    font-size: 48px;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-around;
    margin: 4% 0;
}

.iconWrap {
    display: flex;
}

.contentWrap {
    margin-left: 5%;
}

.icon {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.number {
    font-weight: 420;
    font-size: 32px;
}

.warranty {
    background-image: url('/Assets/icons/bg_pattern.png');
    /* opacity: ; */
    object-fit: cover;
}

.content ul {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4%;
}

@media screen and (max-width: 900px){
    .row1{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 30px;
    }
    .icon{
        width: 25%;
    }
    .number {
        font-size: 22px;
    }
    .text {
        font-size: 13px;
    }
}
